/* Global styles for the document */

*{ box-sizing: border-box;}

body {
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana, Arial, sans-serif; 
    background-image: url(image/background.gif);
}
/* Styles for the header element */
header {
    background-color: #D2B48C;
    text-align: center;
    height: 150px;
    background-image:url( javajamlogo.jpg  );
    background-repeat: no-repeat; display: block;

}

/* Styles for the h1 element */
h1 {
    line-height: 200%;
    padding-top: 45px;
    padding-left: 250;
    font-size: 3em;
}

/* Styles for the nav element */
nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left; /*to float the emelemnt to the left side of the contanier*/ 
    width: 200px;
    display: block;
}
nav ul { 
    list-style-type: none; padding-left: 0;

}
nav a {
    text-decoration: none;
}
nav a:link{color: #FEF6C2}

nav a:visited{color: #D2B48C;}

nav a:hover {color:#CC9933;}
/* Styles for the footer element */
footer {
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding-bottom:10px ;
    border-top: 2px solid #221811;
display: block;
}
/* javajam.css */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #231814;
min-width: 900px;
max-width: 1280px;
box-shadow: inset 3px 3px 3px;
  
    
}
h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom:2px solid #231814;
    clear:left; /* often used to clear a float to any side */
}
main{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
    padding-top: 0;
    margin-left: 200px;
    background-color: #FEF6C2;
    display: block; /* display element as a block it starts on an new line and takes up whole width */
}
main h2, main h3, main h4, main div, main p, main ul, main dl {padding-left: 3em; 
    padding-right: 2em;}



.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto; /*often used to clear a float although its intended pourpose is to configure how content should display if it is too large for the area allocated aout*/
}
img{
    padding-left: 10px;
    padding-right: 10px;
}
#heroroad {background-image: url(heroroad.jpg); background-size: 100% 100%;
    height: 250px; }
    #hermugs {background-image: url(heromugs.jpg); background-size: 100% 100%;
    height: 250px;}

    #heroguitar {background-image: url(heroguitar.jpg); background-size: 100% 100%;
    height: 250px;}
.floatleft { float: left; 
    padding-right: 2em;
    padding-bottom: 2em;}


form {
    padding: 2em;
}
label{ float: left;
display: block;
text-align: right;
width: 8em;
padding-right: 1em;}


input,textarea{ display: block;
margin-bottom: 1em;}

#mySubmit{ margin-left: 9.5em;
}

#herojobs {background-image: url(herojobs.jpg); background-size: 100% 100%;
    height: 250px;}

